mixin what-we-offer()
  section
    h2 How we can help you?

    div Lorem ipsum dolor sit amet, consectetur adipiscing elit sed do.

    button Our Services

    div
      div
        img(src='./img/checklist.svg')
      |To-do list for every day
    
    div
      div
        img(src='./img/research.svg')
      |Research for fresh content
    
    div
      div
        img(src='./img/graph.svg')
      |Progresive results

    div
      div
        img(src='./img/presentation.svg')
      |Quality content & clean digital image
    
