mixin promo({promoImg})
  section
    h1 Increase Your  Social Media Presence

    div One of the most used Social Media Management Platform wich have a offer with 25% DISCOUNT for all services in week-ends.

    div
      button Get it on Google Play
      button Get it on App Store
    
    img(src=promoImg)
