mixin header({logo})
  header
    a(href="#header") 
      img(src=logo) 
      |Kallyas

  ul
    li 
      a(href='#services') Services
    li
      a(href='#platform') Platform
    li
      a(href='#facilities') Facilities
    li
      a(href='#plans') Plans
    li 
      a(href='#plans') Contact
